body{
  width: 80%;
  min-width: 40em;
  max-width: 60em;
  margin:auto;
  background-color: #000000;
  color: #FFFFFF;
  float: top;
  background-image: url("img/background.jpg");
}

pre{
  color:#000000;  
  background-color: #DDDDDD;
}

.markdown-body{
  color: #FFFFFF;
}

#article{
  border: solid;
  padding: 2em;
  opacity: 0.95;
  margin-top: 2em;
  margin-bottom: 4em;
  background-color: #000000;
  color: #FFFFFF;
}

.nav{
  background-color: #FFFFFF;
  opacity: 0.8;
  border: solid;
  padding: 2em;
  width: 10em;
  margin-top: 2em;
}
