body{
  background: #000000;
  margin:auto;
}

div{
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #000000;
  color: #FFFFFF;
  opacity: 1.0;
  padding: 1em;
  width: 90%;
  max-width: 40em;
}

div a{
  color: #e59490;  
}

div p{
  padding: 1em;
}

h3{
  padding: 2em;
  background-color: #ce4d46;
}